<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Employee-Report</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eacouncil">
                <span class="oi oi-list-rich" aria-hidden="true"></span>EA Council
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="certifications">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Certifications
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interviews">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Interviews
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeeReport">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Employee Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learning">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learning
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="traning">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Traning
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employeePocDetails">
                <span class="oi oi-list-rich" aria-hidden="true"></span>POC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employeeProjectDetails">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Project
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="role">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Role
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
