@page "/employee"
<PageTitle>Employee Information - Employee Details</PageTitle>
@using Employee.DataModel.Models;
@inject NavigationManager navManager
@inject IHttpContextAccessor HttpContext;
<h3 style="align-content: center">Employee Details</h3>
@if (employees == null)
{
    <p>Loading.....</p>
}
else
{
    <SfGrid DataSource="@employees">
        <GridColumns>
            <GridColumn Field=@nameof(Employees.Id) HeaderText="Employee Id" TextAlign="TextAlign.Left" Width="100">
            </GridColumn>
            <GridColumn Field=@nameof(Employees.FirstName) HeaderText="First Name" TextAlign="TextAlign.Left" Width="100">
                <Template>
                   @{
                        var emp = (context as Employees);
                        <a rel='nofollow' href="#" @onclick="@(() => Clicked(emp.Id,emp.FirstName + " "+emp.LastName))">@emp.FirstName</a>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(Employees.LastName) HeaderText="Last Name" TextAlign="TextAlign.Left" Width="100">
            </GridColumn>
            <GridColumn Field=@nameof(Employees.Email) HeaderText="Email" TextAlign="TextAlign.Left" Width="130">
            </GridColumn>
            <GridColumn Format="d" Field=@nameof(Employees.JoiningDate) HeaderText="Joining Date" TextAlign="TextAlign.Left" Width="120">
            </GridColumn>
            <GridColumn Format="d" Field=@nameof(Employees.LastWorkingDate) HeaderText="Last Working Date" TextAlign="TextAlign.Left" Width="130">
            </GridColumn>
           @* <GridColumn Field=@nameof(Employees.Status == 0  ? "Active": "InActive") HeaderText="Status" TextAlign="TextAlign.Left" Width="130">
            </GridColumn>*@
        </GridColumns>
    </SfGrid>
}